---
layout: 2017_default
permalink: /agenda
title: 峰会议程
published: true
---
    <!--background color-->
    <script type="text/javascript">
        document.write ('<body style="background: Gainsboro; background-attachment: fixed;">')
    </script>

    <div class="event black-frame">
      <h1>{{ page.title }}</h1>

<!--
        <h2>Day 1</h2>
-->
        <table class="agenda">
            <thead>
                <tr>
                    <th class="row-1 agenda-time"><center>时间</center></th>
                    <th class="row-2 agenda-activity"><center>议程</center></th>
                </tr>
            </thead>

            {% for agenda in site.data.twenty_17.agendas_1 %}
                <tr>
                    <td>{{ agenda.time }}</td>
                    <td>{{ agenda.info }}</td>
                </tr>
            {% endfor %}
        </table>




        <h2>主会场议程</h2>
        <table class="agenda">
            <thead>
                <tr>
                    <th class="row-1 agenda-time"><center>时间</center></th>
                    <th class="row-2 agenda-type"><center>形式</center></th>
                    <th class="row-2 agenda-activity"><center>主题</center></th>
                </tr>

            </thead>

            {% for agenda in site.data.twenty_17.agendas_2 %}
                <tr>
                    <td>{{ agenda.time }}</td>
                    <td><center>{{ agenda.type }}</center></td>
                    <td>{{ agenda.info }}</td>
                </tr>
            {% endfor %}
        </table>



        <h2>分论坛议程</h2>
        <table class="agenda">
            <thead>

                <tr>
                    <th class="row-1 agenda-time"><center>时间</center></th>
                    <th class="row-2 agenda-type" colspan="2"><center>DEFI REVOLUTION 分论坛</center></th>
                    <th class="row-2 agenda-activity" colspan="2"><center>DIGITAL  ASSET  分论坛</center></th>
                </tr>
                <tr>
                <td class="row-2">///</td>
                <td class="row-2"><center>形式</center></td>
                <td class="row-2"><center>主题</center></td>
                <td class="row-2"><center>形式</center></td>
                <td class="row-2"><center>主题</center></td>

                </tr>
            </thead>

            {% for agenda in site.data.twenty_17.agendas_3 %}
                <tr>
                    <td>{{ agenda.time }}</td>
                    <td><center>{{ agenda.type1 }}</center></td>
                    <td>{{ agenda.info1 }}</td>
                    <td><center>{{ agenda.type2 }}</center></td>
                    <td>{{ agenda.info2 }}</td>
                </tr>
            {% endfor %}
        </table>

</div>
